numpy>=1.18.5
scipy>=1.4.1
chumpy>=0.69
scikit-image>=0.15
opencv-python>=4.1.1
PyYAML>=5.1.1
torch>=1.13.0  # Updated from 1.6.0
torchvision>=0.13.0  # Updated from 0.7.0
face-alignment
kornia>=0.4.0
yacs==0.1.8
ninja==1.11.1.1
matplotlib>=3.9.1
pillow>=11.0.0
requests>=2.7.0
gdown>=5.2.0
